<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="GNR8.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <userSettings>
  <GNR8.Properties.Settings>
   <setting name="ProviderName" serializeAs="String">
    <value />
   </setting>
   <setting name="ServerName" serializeAs="String">
    <value />
   </setting>
   <setting name="InitialCatalog" serializeAs="String">
    <value />
   </setting>
   <setting name="UserId" serializeAs="String">
    <value />
   </setting>
   <setting name="Trusted" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DefaultPath" serializeAs="String">
    <value />
   </setting>
   <setting name="NameSpace" serializeAs="String">
    <value />
   </setting>
   <setting name="Creator" serializeAs="String">
    <value />
   </setting>
  </GNR8.Properties.Settings>
 </userSettings>
</configuration>